/* CSS for index page */


body{
	font-family: sans-serif;
    text-align: center;
	color: blue;
	background: url("../../images/gradient.jpg") no-repeat;
	background-size: cover;
	/*background-position: center;*/
	overflow: hidden;
}

p {
    color: white;
}

.welcome{
	position: absolute;
	top: 50%; /*to center it vertically*/
	left: 50%; /*to center it horizontally*/
	transform: translate(-50%,-50%);
	width: 500px; /* form takes up 50% of the width of the page, dynamic*/
	border-radius: 20px; /*rounds the edges of the form */
	padding: 50px;
	box-sizing: border-box;
	background: black;
}



.navigationbar {
	overflow: hidden;
	background-color: (0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

  }
  
  .navigationbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20%;
  }
  
  .navigationbar a:hover {
	background-color: white;
	color: black;
	border-radius:10px;
	text-decoration: none;

  }
  
  .navigationbar a.active {
	background-color: rgb(0, 153, 255);
	color: white;
  }


  .navigationbar .logout .logoutarea .button{
		font-size: 20px;
		float: right;
		position: absolute;
		right: 5%;
		bottom: 5px;
		background-color: (0,0,0,0.7);
		width: 100px;
		min-height: 40px;
		border-radius:10px;
	
  } 


  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    align-items: left;
}

.nav-item {
    margin-right: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #cfced2;
}


@media only screen and (max-width: 1080px) {
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 5rem;
        flex-direction: row;
        background-color: (0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);

    }

    .nav-menu.active {
        left: -3%;
    }

    .nav-item {
        margin: 1rem 0;
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

